body {
	background: #222222;
	width: 100vh;
}

.palikat {
	display: grid;
	grid-template-columns: repeat(100, 1fr);
	grid-gap: 2px;
	background: #333333;
	width: 90%;
}

.cell {
	background: #444444;
	aspect-ratio: 1 / 1;
}

.highlighted {
	background: white;
}
